
<!DOCTYPE html>

<!-- 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script> 
-->
	<body>
		<br><br><br>
		<center>
		<form method="POST" action="/login">
			
			Username : <input type="text" name="username"><br><br>
			Password : <input type="password" name="password"><br><br>
			<input type="submit" name="name3" value="login"><br>

		</form>
		</center>
	</body>

</html>